<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			table {
				border: 3px solid white;
			}

			th, td {
                border: 3px solid white;
                padding: 8px;
            }

			.centerTable {
				margin-left: auto;
				margin-right: auto;
			}
		</style>
		<title>Student Homepage</title>
	</head>
	<body style="background-color: black; color: white">
		<h2 style="color: red; text-align: center"><u>GradeNewScope</u></h2>
		<div>
			<p style="text-align: right; color: lightgreen">Hello, {{username}}</p>
		</div>

		<div style="color: cyan">
			<a href="/" style="float: right">
				<form action="/logout" method="post">Logout</form>
			</a>
			<br /><br /><br />
		</div>

		<div style="text-align: center">
			<form
				action="/student_home"
				id="submit_answer"
				name="submit_answer"
				method="post"
			>
				<input
					type="hidden"
					id="student_id"
					name="student_id"
					value="{{email}}"
				/>
				<label for="assignmentID">Assignment ID:</label>
				<input
					style="border-radius: 0px"
					type="text"
					id="assignment_id"
					name="assignment_id"
				/><br /><br />
				<label for="studentAnswer">Answers:</label>
				<input
					style="border-radius: 0px"
					type="text"
					id="assignment_content"
					name="assignment_content"
				/><br /><br />
				<input
					style="
						border-radius: 10px;
						font-size: large;
						background-color: rgb(15, 146, 24);
					"
					type="submit"
					name="student_submit"
					value="Submit Assignment"
				/>
			</form>
			<br /><br />
		</div>

		{% if submit_assignment_status %}
		<div style="text-align: center; color: darkorange; margin-bottom: 50px">
			<p>{{submit_assignment_status}}</p>
		</div>
		{% endif %}

		<div style="text-align: center">
			<form
				action="/student_home"
				id="query_assignment"
				name="query_assignment"
				method="post"
			>
				<input
					type="hidden"
					id="student_id"
					name="student_id"
					value="{{email}}"
				/>
				<label for="assignmentID">Assignment ID:</label>
				<input
					style="border-radius: 0px"
					type="text"
					id="assignment_id"
					name="assignment_id"
				/><br /><br />
				<input
					style="
						border-radius: 10px;
						font-size: large;
						background-color: rgb(15, 146, 24);
					"
					type="submit"
					name="student_submit"
					value="Query Assignment"
				/>
			</form>
			<br /><br />
		</div>

		{% if queryAssignmentOutputAlt %}
		<div style="text-align: center; color: darkorange; margin-bottom: 50px">
			<p>{{queryAssignmentOutputAlt}}</p>
		</div>
		<br /><br />
		{% endif %} {% if queryAssignmentOutput %}
		<div style="text-align: center">
			<div style="text-align: center; color: cadetblue">
				<table class="centerTable">
					<tr>
						<th>Assignment ID</th>
						<th>Answer</th>
						<th>Final Score</th>
						<th>Range of Scores</th>
						<th>High Deviation</th>
					</tr>
					<tr>
						<td>{{queryAssignmentOutput['assignment_id']}}</td>
						<td>{{queryAssignmentOutput['assignment_content']}}</td>
						<td>{{queryAssignmentOutput['final_score']}}</td>
						<td>{{queryAssignmentOutput['range_of_scores']}}</td>
						<td>{{queryAssignmentOutput['high_deviation']}}</td>
					</tr>
				</table>
			</div>
		</div>
		<br /><br /><br />
		{% endif %}

		<div style="text-align: center">
			<form
				action="/student_home"
				id="query_all_assignments"
				name="query_all_assignments"
				method="post"
			>
				<input
					type="hidden"
					id="student_id"
					name="student_id"
					value="{{email}}"
				/>
				<input
					style="
						border-radius: 10px;
						font-size: large;
						background-color: rgb(15, 146, 24);
					"
					type="submit"
					name="student_submit"
					value="Query All Assignments"
				/>
			</form>
			<br /><br />
		</div>

		{% if queryAllAssignmentsOutputAlt %}
		<div style="text-align: center; color: darkorange">
			<p>{{queryAllAssignmentsOutputAlt}}</p>
		</div>
		{% endif %} {% if queryAllAssignmentsOutput %}
		<div style="text-align: center">
			<div style="text-align: center; color: cadetblue">
				<table class="centerTable">
					<tr>
						<th>Assignment ID</th>
						<th>Answer</th>
						<th>Final Score</th>
						<th>Range of Scores</th>
						<th>High Deviation</th>
					</tr>
					{% for item in queryAllAssignmentsOutput %}
					<tr>
						<td>{{item['assignment_id']}}</td>
						<td>{{item['assignment_content']}}</td>
						<td>{{item['final_score']}}</td>
						<td>{{item['range_of_scores']}}</td>
						<td>{{item['high_deviation']}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<br /><br /><br />
		{% endif %}
	</body>
</html>
