<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Homepage</title>
</head>
<body>
    <div>
        <p>Hello, {{username}}</p>
    </div>
    <div>
        <center>
        <form action="/student_home" id="submit_answer" name="submit_answer" method="post">
            <input type="hidden" id="student_id" name="student_id" value="{{email}}">
            <label for="testID">Test ID:</label>
            <input style="border-radius: 0px;" type="text" id="test_id" name="test_id" /><br /><br />
            <label for="studentAnswer">Answers:</label>
            <input style="border-radius: 0px;" type="text" id="student_answer" name="student_answer" /><br /><br />
            <input style="border-radius: 10px; font-size: large;"
            type="submit" name="student_submit" value="Submit Answer" />
        </form>
    <br>
    <br>
    </center>
    </div>
    <div>
    <center>
        <form action="/student_home" id="query_assignment" name="query_assignment" method="post">
            <input type="hidden" id="student_id" name="student_id" value="{{email}}">
            <label for="testID">TestID:</label>
            <input style="border-radius: 0px;" type="text" id="test_id" name="test_id" /><br /><br />
            <input style="border-radius: 10px; font-size: large;"
            type="submit" name="student_submit" value="Query Assignment" />
        </form>
    <br>
    <br>
    </center>
    </div>
    <div>
    <center>
        <form action="/student_home" id="query_all_assignments" name="query_all_assignments" method="post">
            <input type="hidden" id="student_id" name="student_id" value="{{email}}">
            <input style="border-radius: 10px; font-size: large;"
            type="submit" name="student_submit" value="Query All Assignments" />
        </form>
    </center>
    </div>
</body>
</html>