<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Homepage</title>
</head>
<body style="background-color: black; color: white;">
    <h2 style="color:red; text-align: center;" > GradeNewScope </h2>

    <div>
        <p style= "text-align:right">Hello, {{username}}</p>
    </div>

    <div>
        <a href="/" style="float:right">
            <form action="/logout" method="post">
                Logout
            </form>
        </a> 
    </div>

    {% if queryUngradedAssignmentOutput %}
    <div>
        <p>{{queryUngradedAssignmentOutput}}</p>
    </div>
    {% endif %}

    <div style="text-align: center">
        <form action="/teacher_home" id="submit_grade" name="submit_answer" method="post">
            <input type="hidden" id="teacher_id" name="teacher_id" value="{{email}}">
            <label for="assignmentID">Assignment ID:</label>
            <input style="border-radius: 0px;" type="text" id="assignment_id" name="assignment_id" /><br /><br />
            <label for="studentID">Student ID:</label>
            <input style="border-radius: 0px;" type="text" id="student_id" name="student_id" /><br /><br />
            <label for="teacherGrade">Grade:</label>
            <input style="border-radius: 0px;" type="text" id="teacher_grade" name="teacher_grade" /><br /><br />
            <input style="border-radius: 10px; font-size: large; background-color:rgb(15, 146, 24);"
            type="submit" name="teacher_submit" value="Submit Grade" />
        </form>
    </div>

    {% if submit_grade_status %}
    <div>
        <p>{{submit_grade_status}}</p>
    </div>
    {% endif %}
</body>
</html>